---
import Layout from '../../layouts/Layout.astro';
import CreatePostForm from '../../components/CreatePostForm.astro';
---

<Layout title="Create New Post">
  <h1>Create New Post</h1>
  <CreatePostForm />
</Layout>
