---
import Layout from '../layouts/Layout.astro';
import PostFeed from '../components/PostFeed.astro';
import { getPosts } from '../services/postService';

const posts = await getPosts();
---

<Layout title="Family Social">
  <main>
    <h1>Family Social</h1>
    <a href="/create-post">Create New Post</a>
    <PostFeed posts={posts} />
  </main>
</Layout>
