---
import PostCard from './PostCard.astro';
const { posts } = Astro.props;
---

<div class="post-grid">
  {posts.map((post) => (
    <PostCard post={post} />
  ))}
</div>

<style>
  .post-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .post-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .post-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
